.cartItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    font-family: var(--ndFont);
    font-size: 1em;
    font-weight: bold;
}

.cartItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding);
}

.titleImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 500px;
    min-width: 500px;
}

.titleImgContainer h6 {
    font-size: 1em;
    font-weight: 700;
}

.cartItem .titleImgContainer picture {
    width: 200px;
}

.cartItem .titleImgContainer picture img {
    width: 100%;
    display: block;
    height: auto;
}

.noProductCart {
    margin: 5rem auto;
    text-align: center;
}

.cartFooter {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.generateOrder {
    margin-top: 3rem;
    padding: .5em;
    width: max-content;
    align-self: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 991px) {

    .cartItem,
    .cartFooter {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .titleImgContainer {
        min-width: 200px;
    }
}