.loadWrapp {
    position: absolute;
    top: 50%;
    left: 50%;
}

.productDetailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: var(--padding);
    gap: 20px;
}

.productDetailContainer picture {
    max-width: 600px;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding-left: 2em;
}

.productDetailContainer picture img {
    display: block;
    max-width: 100%;
    height: auto;
}

.descriptionContainer {
    height: 400px;
    width: 30%;
    padding: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-left: 10px solid #3483fa;
    font-size: 1em;
}

.descriptionContainer h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: var(--stFont);
    font-weight: unset;
    text-align: center;
    text-transform: uppercase;
}

.descriptionContainer span,
p,
h2 {
    color: #37373f;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.descriptionContainer a {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: 80%;
}

.descriptionContainer a:hover {
    background-color: #1366d6;
    color: #fff;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.descriptionContainer a:hover:after {
    opacity: .5;
}

.descriptionContainer a:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

.descriptionContainer a:active:after {
    opacity: 1;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    user-select: none;
    gap: 15px;
}

.countSection {
    font-size: var(--fontSize);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

@media screen and (max-width: 991px) {
    .productDetailContainer {
        flex-direction: column;
    }

    .productDetailContainer figure {
        display: block;
        max-width: 100%;
        height: auto;
        border-right: none;
    }

    .productDetailContainer figcaption {
        display: none;
    }

    .descriptionContainer {
        width: 100%;
        border-left: none;
        border-top: 10px solid #3483fa;
    }

    .descriptionContainer h2 {
        font-size: 1.2em;
    }

    .descriptionContainer span,
    p {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    .counterContainer {
        width: 100%;
    }

    .buyButton {
        width: 80%;
    }
}