.productsContainer h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--ndColor);
    font-family: var(--ndFont);
    padding: var(--padding);
}

.itemListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 1.2em;
    grid-row-gap: 1.2em;
    padding: 1.2em;
    width: 100%;
    grid-auto-flow: row;
}

.loadWrapp {
    position: absolute;
    top: 50%;
    left: 50%;
}

.imgContainer {
    padding: var(--padding);
}

.imgContainer img {
    display: block;
    max-width: 100%;
    height: auto;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--padding);
    border-radius: 4px;
    border: 1px solid #aaa;
    font-family: var(--stFont);
    background: linear-gradient(to bottom, #FFFFFF, #D6D6D6);
}

.productContainer:hover {
    border: 1px solid var(--stColor);
}

.productContainer h3 {
    font-size: 1.2em;
    font-weight: 900;
    font-family: var(--ndFont);
    text-align: center;
}