.itemListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: var(--padding);
    grid-column-gap: 1.2em;
    grid-row-gap: 1.2em;
    grid-auto-flow: row;
}

.itemListTypeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    padding: var(--padding);
    grid-column-gap: 1.2em;
    grid-row-gap: 1.2em;
    grid-auto-flow: row;
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    border-radius: 4px;
    border: 1px solid #aaa;
    font-family: var(--stFont);
    background: linear-gradient(to bottom, #FFFFFF, #D6D6D6);
}

.productContainer a {
    display: block;
    color: #000;
}

.productContainer h3 {
    font-size: 1.2em;
    font-weight: 900;
    font-family: var(--stFont);
    text-align: center;
    text-transform: uppercase;
}

.productsContainer h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--ndColor);
    font-family: var(--ndFont);
    padding: var(--padding);
}

.productContainer picture {
    padding: var(--padding);
}

.productContainer picture img {
    display: block;
    max-width: 100%;
    height: auto;
}

.loadWrapp {
    position: absolute;
    top: 50%;
    left: 50%;
}

.productContainer:hover {
    border: 1px solid var(--stColor);
}

.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    user-select: none;
}

.countSection {
    font-size: var(--fontSize);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

@media screen and (max-width: 300px) {
    .itemListContainer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .itemListTypeContainer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}