.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #26262e;
    flex-flow: row wrap;
    padding: 0 .5em;
    margin: 0;
    position: relative;
}

.imgResponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.searchContainer {
    position: relative;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    width: 30vw;
}

.searchContainer input {
    font-family: var(--stFont);
    width: 100%;
    margin: 0.5em 0;
    outline: none;
    padding: 0.3em;
    border: 2px solid #aaa;
    border-radius: 5px;
}

.searchContainer input:focus {
    border: 2px solid var(--ndColor);
}

.searchIcon {
    position: absolute;
    right: 8px;
    top: 14px;
    cursor: pointer;
    font-size: 1.2rem;
}

.separateSection {
    display: flex;
    align-items: center;
}

.socialButton {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.socialButton span {
    margin: 3px
}

.socialButton span a {
    font-size: var(--fontSize);
    font-weight: bold;
    color: #fff;
}

.instagram:hover {
    color: #d63384;
}

.linkedin:hover {
    color: #0d6efd;
}

.twitter:hover {
    color: #0a58ca;
}

.twitch:hover {
    color: #a970ff;
}

.userSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

.userSection span {
    color: var(--stColor);
    font-size: var(--fontSize);
    font-weight: 900;
    cursor: pointer;
    padding-left: .5em;
}

@media screen and (max-width: 991px) {
    .headerContainer {
        padding: 0;
    }

    .searchContainer {
        width: 80%;
    }

    .separateSection {
        padding-bottom: .5em;
    }

    .socialButton {
        width: 100%;
    }

    .userSection {
        width: 100%;
    }
}