@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300;400;600&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 28rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

img,
svg {
  vertical-align: baseline;
}

button {
  line-height: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --margin: .5em;
  --padding: .5em;
  --stColor: #0d6efd;
  --ndColor: #024dbc;
  --stFont: 'Raleway', sans-serif;
  --ndFont: 'Poppins', sans-serif;
  --fontSize: 1.5em;
}