.counterContainer h6 {
    font-size: .8em;
    font-weight: 900;
}

.countSection span {
    cursor: pointer;
}

.keypadCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-family: var(--ndFont);
}

.keypadCont button {
    margin: 0 .2em;
}

.itemOpacity {
    opacity: 0.5;
    cursor: default;
}