.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    position: relative;
}

.counterContainer h3 {
    font-family: 'Crete Round', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.counterContainer h6 {
    font-size: .8em;
    font-weight: 900;
}

.countSection {
    font-size: var(--fontSize);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.countSection span {
    cursor: pointer;
}

.itemOpacity {
    opacity: 0.5;
    cursor: default;
}